<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>就活情報サイト</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h1>就活情報サイト</h1>
	<h3>検索(Query)</h3>
	<form action="/JavaApp" method="post">
		<!-- カテゴリプルダウンセレクトタブ -->
		<div class="form-group">
			<label for="queryOptions">カテゴリを選択してください</label>
			<select class="form-control" id="queryOptions" name="queryOption" th:value="${queryOption}">
				<option value="">選択してください</option>
				<option th:each="option : ${queryOptions}" th:value="${option}" th:text="${option}" th:selected="${option == queryOption}"></option>
			</select>
		</div>

		<button class="btn btn-primary" type="submit">
			質問を実行
		</button>
	</form>

	<h3>結果：</h3>
	<p th:text="${result}"></p>
</div>
</body>
</html>
